.card {
  display: flex;
  height: auto;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  max-width: 30%;
  padding: 1rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  border-radius: 14px;
  background-color: white;
}

@media screen and (max-width: 1280px) {
  .card {
    flex-direction: column;
    width: 45%;
    max-width: none;
  }
}
@media screen and (max-width: 768px) {
  .card {
    flex-direction: column;
    width: 70%;
    max-width: none;
  }
}
